* { 
    margin: 0; 
    font-family: "Poppins", sans-serif;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(1, 111, 232);
    background-size: cover;
    background-position: center;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header {
    padding: 10px;
    display: flex;
    height: fit-content;
    background-color: rgb(1, 111, 232);
    justify-content: space-between;
}
.logo {
    background-color: rgba(1, 111, 232);
    border: none;
    text-align: center;
}
.logo>img {
    max-height: 50px;
    width: auto;
}
.authorization {
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    height: 50px;
    border-radius: 6px;
    font-size: 12pt;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content { 
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.hakhathon {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
}
.attachment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding: 10px;
}
.hakhathon>img {
    max-width: 100%;
    max-height:  100%;
    border-radius: 20px;
    object-fit: cover;
}
.description {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 15pt;
    font-weight: 500;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.description>a>button {
    background-color: rgb(255, 255, 255);
    color: rgb(90, 90, 90);
    border-radius: 10px;
    font-size: 15pt;
    border-color: rgb(53, 126, 216);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(1, 111, 232);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    font-weight: 500;
    color: rgb(218, 237, 253);
}
.reg {
    display: flex;
    flex: 1;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 111, 232);
}
.registration {
    display: flex;
    width: 420px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15px;
    
}
.registration>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.registration p {
    font-weight: 600;
}
.registration input {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ffffff;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.0);
}
input::placeholder{
    color: #fff;
}
.registration input:focus {
    border-color: #006eff;
    box-shadow: 0 0 5px #006eff;
}

.registration button {
    width: 330px;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #3b3b3b;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.2s;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.registration button:focus {
    border-color: #006eff;
    box-shadow: 0 0 5px #006eff;
}
.regist {
    font-size: 34px;
}

